:root {
    --bg-main-color: #000;
    --font-main-color: #ffffff;
    --menu-font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-main-color);
    color:var(--font-main-color);
    font-family: var(--menu-font);
}

.svg-color {
    filter: invert(100%);
}


.wrapper {
    position: relative;
    min-height: 100vh;
    width: 800px;
    margin: auto;
    background-color: #000;
    
}

.hidden {
    display: none !important;
}

.active {
    border-bottom: 3px solid var(--font-main-color);
}

/* HEADER */

header {
    padding-top: .375rem;
    padding-bottom: .500rem;
    height: 6rem;
    background-color: #000
}


.logo-img {
    float: left;
    width:90px;
}

.menu {
    box-sizing: border-box;
    float: left;
    position: relative;
    top:1rem;
    left: 9.5rem;
    display: flex;
    padding: 0;
}

.menu-option {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.menu-option:hover {
    border-bottom: 3px solid var(--font-main-color);
}


/* FIN HEADER */

/* HOME CONTAINER */

main {
    clear: both;
    padding-bottom: 8.5rem;
}


.hero {
    background-image: url("img/252422638_408463754082308_2956983702443135199_n.jpg");
    background-color: #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-layer {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    ;
}

.hero-title>h1 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 4%;
}

.hero-subtitle>h2 {
    margin: 0;
    position:absolute;
    font-weight: 300;
    left: 4%;
    top: 48%;
}

.arrow-left, .arrow-right {
    width: 1rem;
    position: absolute;
}

.arrow-left {
    top:45%;
}

.arrow-right {
    top:45%;
    right: 0%;
}

.visit {
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #000;
}


.visit-title {
    text-align: center;
}

.visit-title>h2 {
    margin: 0;
}

.visit-options {
    padding-top: 1.5rem;
    width: 45rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.visit-options-img {
    height: 6rem;   
    width: 6rem; 
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 1rem 3rem;
    cursor: pointer;
    border: 2px solid #fff;
}

.img-1 {
    background-image: url("img/paris.jpg");
}
.img-2 {
    background-image: url("img/España.jpg");
}
.img-3 {
    background-image: url("img/Estatua-de-la-Libertad.jpg");
}
.img-4 {
    background-image: url("img/grecia-gr-1.jpg");
}
.img-5 {
    background-image: url("img/pisa.jpg");
}

.visit-menu-btn {
    box-sizing: border-box;
    cursor: pointer;
    width: 10rem;
    background-color: #008CBA;
    text-align: center;
    margin: 3rem auto;
    padding: 1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
}

.visit-menu-btn:hover {
    box-sizing: border-box;
    cursor: pointer;
    width: 10rem;
    background-color: #00a7df;
    text-align: center;
    margin: 3rem auto;
    padding: 1rem 0;
    border-radius: 5px;
    border: 1px solid rgb(179, 177, 177);
}

/* FIN HOME CONTAINER */

/* MENU CONTAINER */

.menu-container {
    padding-bottom: 10rem;
}

.menu-container>h2 {
    text-align: center;
}

.exp {
    width: 35rem;
    margin: auto;
    margin-top: 2rem;
    position:relative;
}


i.exp-img{
	background-size:60px;
	width:60px;
	height:60px;
	display:inline-block;
}

.exp-img[experiencia='eeuu']{
	background-image:url('img/US.png');
	background-repeat: no-repeat;
}
.exp-img[experiencia='grecia']{
	background-image:url('img/GR.png');
	background-repeat: no-repeat;
}
.exp-img[experiencia='españa']{
	background-image:url('img/ES.png');
	background-repeat: no-repeat;
}
.exp-img[experiencia='francia']{
	background-image:url('img/FR.png');
	background-repeat: no-repeat;
}
.exp-img[experiencia='italia']{
	background-image:url('img/IT.png');
	background-repeat: no-repeat;
}

i.exp-img {
	background-size:60px;
	width:60px;
	height:60px;
    border-radius: 100%;
	display:inline-block;
}

.exp-img[experiencia='desayuno']{
    background-image: url('img/desayuno.jpg');
}

.exp-img[experiencia='almuerzo']{
    background-image: url('img/almuerzo.jpg');
}

.exp-img[experiencia='exprimido']{
    background-image: url('img/exprimidos.jpg');
}

.exp-titulo {
    padding-left: .5rem;
    padding-bottom: 2rem;
    display: flex;
    /* justify-content: center; */
}

.exp-titulo>h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0;
}

.exp-item {
    box-sizing: border-box;
    position:relative;
    height: 1rem;
    margin: .5rem .5rem
}

.exp-item-titulo {
    
    width: 30rem;
    position:absolute;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}

.exp-item-titulo::after {
    content: " ............................................................................................................................... ";
}

.exp-item-precio {
    width: fit-content;
    position: absolute;
    right: 0;
    overflow: hidden;
}





/* FIN MENU CONTAINER */

/* CONCTACTO CONTAINER */

.contacto-container {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contacto-title>h2 {
    margin: 0 0 1rem 0 ;
    text-align: center;

}

.contacto-form>form {
    width: 23rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding-top: 1rem;
}

.contacto-form>form>label {
    margin-top: 0.5rem;
}

.contacto-form>form>label>input {
    width: 20rem;
    margin-top: 0.375rem;
}

.contacto-form>form>label>input[type=text] {
    height: 10rem;
}

.contacto-form>form>input[type=submit] {
    font-family: var(--menu-font);
    font-weight: 500;
    font-size: 1rem;
    color:#fff;
    box-sizing: border-box;
    cursor: pointer;
    width: 10rem;
    background-color: #008CBA;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem 0;
    border-radius: 5px;
    border: 1px solid #fff;
}

.contacto-form>form>input[type=submit]:hover {
    background-color: #00a7df;
    border: 1px solid rgb(179, 177, 177);
} 

.mapa-title>h2 {
    margin: 0 0 1rem 0 ;
    text-align: center;
}

.mapa {
    display: flex;
    flex-direction: column;
}

.mapa-iframe {
    flex-grow: 1;
    border-radius: 1rem;
    width: 23rem;
}

/* FIN CONCTACTO CONTAINER */

/* FOOTER CONTAINER */

footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 8.5rem;
    justify-content: space-between;
    display: flex;
    background-color: #000;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: 2rem;
}

.info-linea {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: .375rem 0 .375rem 0;
}


.info-icono {
    width: 1rem;
}

.info-texto {
    font-size: .8rem;
    padding-left: 1rem;
    height: 1rem;
    padding-bottom: .125rem;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.375rem;
}

.redes-icono {
    width: 2rem;
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
}

.footer-icon {
    height: 2rem;
}
/* FIN FOOTER CONTAINER */